@charset "UTF-8";

body {
	font-family: "Noto Sans KR", sans-serif;
	color: #646464;
	margin: 0px auto;
}

button, input[type="button"], .notification_wrap li {
	cursor: pointer;
}

.all_wrap { /* 전체 div */
	
	width: 1200px;
    margin: 0px auto;
	padding-top: 180px;
	background-color: #f1f1f3;
}

.notification_wrap { /* 마이페이지 메뉴바 전체div */
	
}

.notification_wrap > h1 { /* 회원 이름 */
	color: black;
}

.tab { /* 마이페이지 메뉴바 */
	
}

.tab ul {
	height: 50px;
	font-size: 14px;
	list-style-type: none;
	padding-inline-start: 0px;
	margin-top: 0px;
    margin-bottom: 0px;
}

.tab li {
	font-size: 20px;
    font-weight: 600;
    width: fit-content;
    float: left;
	padding-bottom: 5px;
    margin-right: 45px;
}

.click_li { /* tab에서 클릭된 li */
	color: black;
	border-bottom: 3px solid black;
}

.cards ul { /* 마이페이지 메뉴바 상세내용 */
	height: 150px;
	list-style-type: none;
	padding-inline-start: 0px;
	margin-top: 0px;
    margin-bottom: 0px;
}

.cards li {
	color: white;
	font-size: 17px;
	font-weight: 600;
	border: 1px solid;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 25px;
    float: left;
    margin-right: 15px;
}

.no_active {
	display: none;
}

.package, .review, .userInfo {
	border-bottom: 1px solid #2b2b2b;
}

.package li:first-of-type, .review li:first-of-type, .userInfo li:first-of-type {
	border-color: #12245c;
    background-color: #12245c;
}

.package li:nth-of-type(2) {
	border-color: #1e427f;
    background-color: #1e427f;
}

.package li:last-of-type, .review li:last-of-type, .userInfo li:last-of-type {
	border-color: #6c94b8;
	background-color: #6c94b8;
}

.package li:first-of-type:hover, .review li:first-of-type:hover, .userInfo li:first-of-type:hover {
	color: #646464;
	background-color: white;
}

.package li:nth-of-type(2):hover {
	color: #646464;
	background-color: white;
}

.package li:last-of-type:hover, .review li:last-of-type:hover, .userInfo li:last-of-type:hover {
	color: #646464;
	background-color: white;
}

.content_wrap { /* 정보출력 전체 div */
	padding-bottom: 100px;
	margin-top: 30px;
}

.package_making ul {
	list-style: none;
	padding-inline-start: 0px;
	margin-top: 50px;
    margin-bottom: 0px;
}

.package_making li {
	display: flex;
    border-bottom: 1px solid #ddd;
}

.pk_list {
	width: 1200px;
	display: flex;
}

.pk_img {
	width: 200px;
	height: 200px;
	margin-right: 40px;
}

.pk_img img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.pk_cont {
	width: 850px;
	margin-bottom: 20px;
}

.pk_cont div {
	display: flow-root;
	margin-bottom: 15px;
}

.pk_cont div:last-of-type {
	display: block;
}

.pk_cont p {
	margin-top: 0px;
    margin-bottom: 0px;
}

.pk_cont table {
	width: 400px;
	border: 1px #0D112D solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
}

.pk_cont table td {
	border-right: 0.1em solid #f1f1f3;
	width: fit-content;
	background: white;
}

.pk_cont table tr:first-of-type td {
	background: #6C94B8;
    color: #f1f1f3;
    font-size: 15px;
    font-weight: bold;
}

.pk_cont table tr:last-of-type td {
	
}

.pk_tag {
	float: left;
    border: 1px solid #6C94B8;
    /* border-radius: 20px; */
    width: fit-content;
    height: fit-content;
    color: #6C94B8;
    font-weight: 600;
    text-align: center;
    margin-right: 10px;
    padding: 1px 7px;
    background-color: white;
}

.pk_title {
	font-size: 18px;
}

.pk_btn {
	height: 200px;
	display: flex;
    align-items: center;
}

.pk_btn button {
	width: 110px;
    height: 46px;
	color: #6C94B8;
	font-size: 15px;
	font-weight: 600;
    font-family: "Noto Sans KR", sans-serif;
    background-color: white;
	border: 1px solid #6C94B8;
	border-radius: 4px;
}

.pk_update_btn {
	position: absolute;
    top: 700px;
    right: 122px;
    display: inline-grid;
    z-index: 5;
    border: 1px solid #6c94b8;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    padding: 10px 1px;
    width: 130px;
    background-color: white;
}

.pk_update_btn button {
	width: 100%;
    height: 40px;
    font-size: 13px;
    letter-spacing: -1px;
    background-color: white;
    border: none;
    box-sizing: border-box;
}

.pk_update_btn button:hover {
	background-color: #f4f6fa;
    color: #6c94b8;
}



.user_wrap { /* 회원정보 수정div */
	color: black;
}

.profile { /* 회원정보-프로필div */
	width: 200px;
    float: left;
}

.pf_img {
	margin-top: 0px;
	margin-bottom: 0px;
}

.pf_edit {
	margin-bottom: 5px;
}

.user_field { /* 회원정보-내용div */
	width: 800px;
    display: flex;
    justify-content: center;
}

.tbl {
	
}

.txt {
	width: 350px;
    height: 20px;
    padding: 7px;
}

input[name="id"] {
	background-color: #cccccc;
    border-color: #cccccc;
}

.addr {
	display: block;
    padding-top: 15px;
}

#sample4_postcode {
	width: 60px;
    height: 20px;
    padding: 7px;
    margin-bottom: 5px;
}

#sample4_roadAddress {
	margin-bottom: 5px;
}

.profile button, .tbl input[type="button"] {
	width: 98px;
    height: 34px;
    padding: 7px;
    /* border-radius: 10px; */
    border: none;
    background-color: #6C98BC;
    color: white;
    font-weight: bold;
}

.btn_wrap {
	margin-top: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.save_btn {
	width: 150px;
	height: 50px;
	/* border-radius: 10px; */
	border:none;
	background-color: #2C609C;
	color: white;
	font-weight: bold;
}


