@charset "UTF-8";
body {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	color: rgb(64,64,64);
	background: url("https://copilot.microsoft.com/rp/itdq0TGlsM-BDvSovDaQdrVxPbo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
 	isolation: isolate;
}
body::after {
  content: '';
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.7;
}
p{
	margin: 0;
}
div[id="content"]{ /*헤더, 푸터를 제외한 섹션 전체 div*/
	padding-top: 10px;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 30px;
}
div[id="list_text"]{ /* "여행일정" 글자 div 와 아래의 선 */
	width: 1200px;
	height: 40px;
}
p[id="list_text"]{ /* "여행일정" 글자 */
	float: left;
	margin-top: 0px;
	margin-left: 15px;
	font-size: 20px;
	font-weight: bold;
}
div[id="day_div"]{ /* day1,day2,day3,day4... 들어갈div*/
	width: 900px;
	height: 50px;
	margin-left: 232px;
}
p[id*="day"]{ /*day 글자 */
	float : left;
	font-size: 17px;
	font-weight: bold;
	margin-top : 14px;
	cursor : pointer;
	padding : 5px 20px;
	border : none;
}
p[id="day1"]{ /*day 글자 */
	border-top: 3px solid #6C94B8;
    margin-top: 11px;
    cursor: auto;
    background-color: white;
    color: #6C94B8;
}
#main_content{
	width: 1170px;
    height: 870px;
    border: 1px solid #CCCCCC;
    background-color: white;
    margin: 0 auto;
}
div[id="thema_div"]{ /*내가 선택한 테마부분 전체 div(도시부터 수정하기 버튼까지)*/
	width: 200px;
	height: 300px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

#thema_div > img:first-of-type{
	float: left;
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-top: 12px;
    margin-right: 5px;
}

#thema_div > hr{
	float: left;
    width: 180px;
    margin-bottom: 40px;
}

div[id="detail_div"]{ /*화살표 누르면 사라지는 부분(선택한 테마~음식취향)div  */
	width: 180px;
}

#detail_div div{
	width: 170px;
    border: 1px solid #6C94B8;
    padding: 5px;
    margin-bottom: 10px;
}
p[id="city"]{ /*목적지 도시 글자 */
	font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #0D112D;
}
p[id="thema"]{ /*여행테마 자체 글자 */
	font-size: 20px;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #0D112D;
}

#detail_div div p{
	font-size: 14px;
    text-align: center;
    color: #6C94B8;
    font-weight: 600;
}

.button{ /*모든 버튼*/
	background-color: white;
	color: #6C94B8;
	font-size: 15px;
	font-family: "Noto Sans KR", sans-serif;
	cursor: pointer;
	border : none;
}
input[name="edit_thema"]{ /*테마 수정하기 버튼 */
	width: 180px;
    height: 45px;
    margin-top: 45px;
    background: #0D112D;
    border: none;
    color: white;
}
#up{ /*내가 선택한 테마 div 닫기 */
	float:	right;
	margin-top: -52px;
	margin-right: 35px;
	padding: 0px;
	cursor: pointer;
}
#down{ /*내가 선택한 테마 div 열기 */
	float:	right;
	margin-top: -52px;
	margin-right: 35px;
	padding: 0px;
	display: none;
	cursor: pointer;
}
div[id="plan_list"]{ /*여행지 리스트 전체 div */
	width: 945px;
	float: left;
	margin-left: 5px;
	margin-top : 5px;
	min-height: 450px;
}
div[id="plan_list"]::-webkit-scrollbar{
	width: 10px;

}
div[id="plan_list"]::-webkit-scrollbar-thumb {
    background: #6C94B8;
 }   
div[id="plan_list"]::-webkit-scrollbar-track-piece {
    background: #f1f1f3;
}

div[id*="plan_list_day"]{ /*여행지 리스트 일자마다 전체 div */
	width: 820px;
	float: left;
	margin-left: 5px;
	display : none;
}
div[id="plan_list_day1"]{ /*여행지 리스트 day1 div */
	display : block;
}
div[id*="list_content"]{ /* 여행지 하나하나의 div */
	width: 890px;
	height: 170px;
	border-bottom: 0.7px solid #CCCCCC;
	margin: 0;
}
div[id*="list_empty"]{
	width: 890px;
	height: 200px;
	border-bottom: 0.7px solid #CCCCCC;
	margin: 0;
}
img[class="place_pic"]{ /* 여행지의 사진 형식*/ 
	width: 150px;
    height: 140px;
    float: left;
    margin-top: 20px;
    border: none;
}
div[class="content_fdiv"]{ /*여행일정의 장소, 태그 (글자)부분 div */
	width: 520px;
    height: 130px;
    border-right: 0.7px solid #CCCCCC;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}
div[class="list_place"]{ /* 리스트의 여행지 이름 div*/
	width: 500px;
	height: 60px;
	overflow: hidden;
}
p[class*="list_place"]{ /* 리스트의 장소이름 글자 */
	font-size: 17px;
	margin-top: 0;
	font-weight: bold; 
	overflow : hidden;
}
div[class="list_thema"]{ /*리스트의 태그 div */
	float: left;
    width: 370px;
    height: 80px;
    margin-top: 30px;
    overflow: hidden;
}
p[class="list_thema"]{ /*리스트의 태그 글자 */
	color: #0D112D;
    font-weight: bold;
    padding: 4px 10px;
    border: 1px solid #0D112D;
    border-radius: 30px;
    box-shadow: 1px 1px 5px #CCCCCC;
    float: left;
    font-size: 12px;
    margin-bottom: 15px;
    margin-right: 7px;
    background-color: white;
}
input[name="delete"]{ /*장소 삭제버튼 */
	width: 110px;
    height: 40px;
    background: #2a799c;
    color: white;
    margin-left: 20px;
    margin-top: 60px;
}
div[class="content_detail"]{ /* 예상 예산, 일정 상세보기 버튼 부분 div */
	margin: 10px 0px;
	width: 160px;
	height: 130px;
	float: right;
}

.list_budget>p:first-of-type{ /*예산예상 글자*/
	font-size: 15px;
    color: #CCCCCC;
    margin-top: 30px;
    margin-left: 8px;
    margin-bottom: 10px;
}

.list_budget>p:last-of-type{/*~가격*/
	font-size: 22px;
    color: #0D112D;
    margin-left: 8px;
    font-weight: bold;
}

input[name="detail"]{ /*일정 상세보기 버튼 */
	width: 150px;
    height: 40px;
    margin-top: 99px;
    margin-left: 0px;
    border: 1px solid #6C94B8;
    font-weight: bold;
}
input[name="add_place"]{ /* 일정추가하기 버튼 */
	width: 180px;
    height: 45px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    background: #2a799c;
    color: white;
}
input[name*="save_plan"]{ /*저장 버튼 */
	margin-left: 42%;
    width: 180px;
    height: 45px;
    margin-top: 60px;
    margin-bottom: 60px;
    cursor: pointer;
    background: #2a799c;
    color: white;
}
div[id="side_menu"]{ /*사이드 메뉴 div*/
	position: fixed;
    width: 120px;
    height: 135px;
    top: 200px;
    right: 210px;
    border: 1px solid #2a799c;
    background-color: white;
    box-shadow: 3px 3px 10px #CCCCCC;
}
#side_menu_p{ /*side menu 글자 */
	margin: 3px 0;	
	font-weight: bold;
	color : #2a799c;
}
/* div[id="side_inner"]{ side menu 글자 아래의 사이드메뉴 내부 div
	position: fixed;
	top: 295px;
	right: 300px;
	width: 120px;
	border: 2px solid #0D112D;
	border-radius: 0px 0px 10px 10px;
	background-color: #f1f1f3;
} */
input[name*="plan_sel"]{ /*일정선택목록으로, 일정추가하기 버튼 */
	width: 100px;
    height: 70px;
    margin-left: 10px;
    margin-top: 19px;
    background: #2a799c;
    cursor: pointer;
    font-size: 14px;
    border: none;
    color : white;
}
.list_name{
	font-size: 17px;
	margin-top: 0;
	font-weight: bold; 
	overflow : hidden;
}

footer {
	margin-top: 0px;
}