@charset "UTF-8";
body{
	margin: 0;
	font-family: "Noto Sans KR", sans-serif;
	color: #646464;
	font-size: 15px;
	background : url("https://logincdn.msauth.net/shared/5/images/2_bc3d32a696895f78c19d.svg");
	background-size: cover;
	
}
*{
	margin: 0;
}

/* 메뉴바 */
section{
	width : 1200px;
	margin : 0 auto;
	padding-top : 170px; 
	padding-bottom: 210px;
}
div[id="content"]{ /*헤더, 푸터를 제외한 섹션 전체 div*/
	width: 1000px;
    border: 1px solid #cccccc;
    padding: 50px 50px;
    box-shadow: 3px 3px 10px #cccccc;
    margin: 0 auto;
    background: white;
}
.plan_div{
	width: 900px;
    height: 120px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
}

.plan_div > a >div:fitst-of-type{
	float : left;
}

.plan_div > a > div:first-of-type > img{
	width: 40px;
    height: 40px;
    object-fit: cover;
    float : left;
}

.plan_div > a > div:first-of-type > p{
	float: left;
    font-size: 20px;
    color: #0D112D;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 5px;
    width: 460px;
}

.plan_div > a > div:nth-of-type(2){
	float: right;
    margin-top: 10px;
}

.plan_div > a > div:nth-of-type(3){
	float: left;
    margin-top: 10px;
    margin-left: 9px;
    border: 1px solid #6C94B8;
    padding: 10px;
    border-radius: 30px;
}