body {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	color: rgb(64,64,64);
	background: url("https://copilot.microsoft.com/rp/itdq0TGlsM-BDvSovDaQdrVxPbo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
 	isolation: isolate;
}
body::after {
  content: '';
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.7;
}
*{
	margin: 0;
}
div[id="content"]{ /*�뿤�뜑, �뫖�꽣瑜� �젣�쇅�븳 �꽮�뀡 �쟾泥� div*/
	padding-top: 100px;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 140px;
}
input{
	font-family: "Noto Sans KR", sans-serif;
	color: #646464;
}
input[type="button"]{ /*모든 버튼*/
	background-color: white;
	color: #6C94B8;
	font-size: 15px;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: bold;
	cursor: pointer;
}
div[id="list_text"]{ /* "�뿬�뻾怨꾪쉷�꽌" 湲��옄 div �� �븘�옒�쓽 �꽑 */
	width: 1200px;
	height: 40px;
	border-bottom: 0px solid rgb(64,64,64);
}
p[id="list_text"]{ /* "�뿬�뻾怨꾪쉷�꽌" 湲��옄 */
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 20px;
	font-weight: bold;
}
div[id="radio_div"]{ /*�씪�뵒�삤踰꾪듉 div*/
	width: 898px;
	height: 40px;
	margin: 0 auto;
	position : relative;
	z-index : 5;
}

input[name="plan"]{ /*�뿬�뻾怨꾪쉷�꽌, 媛�怨꾨�, 泥댄겕由ъ뒪�듃 踰꾪듉*/
	display: none;
}
label[id*="plan_radio"]{ /*�뿬�뻾怨꾪쉷�꽌, 媛�怨꾨�, 泥댄겕由ъ뒪�듃 �씪�뵒�삤踰꾪듉 */
	float: left;
	background-color: white;
	border-radius: 20px 20px 0 0;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	font-size: 15px;
	color:  #CCCCCC;
	cursor: pointer;
	width : 297px;
	height: 30px;	
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
label[id="plan_radio_1"]{
	background-color:white;
	color:#6C94B8;
	border-bottom : 1px solid white;
}
#plan_ra_empty{
	float:left;
	width:298px;
	margin :0;
	padding-top:10px;
	border-bottom:1px solid #CCCCCC;
	height: 31px;	
}
div[id*="plandiv_"]{ /*�뿬�뻾怨꾪쉷�꽌 �옄泥� div*/
	width: 895px;
	margin: 0 auto;	
	display : none;
	position : relative; 
	z-index : 3;
	margin-bottom : 20px;
    border: 1px solid #CCCCCC;
    background-color: white;
    border-top : 0px solid white;
    margin-top : 1px;
    overflow : auto;
}
div[id="plandiv_1"]{ /*�뿬�뻾怨꾪쉷�꽌 �옄泥� div*/
	display : block;
}
input[name="plan_subject"]{ /*�젣紐� text*/
	width: 700px;
	height: 25px;
	border: none ;
	border-left : 4px solid black;
	padding-left : 7px;
	margin: 25px 70px;
	margin-top: 40px;
	font-weight: bold;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 15px;
	color: rgb(64,64,64);
	outline : none;
}
div[id="plan_info"]{ /*�뿬�뻾�젙蹂�(�룄�떆,�궇吏�,�뀒留�) div*/
	width: 600px;
	height: 150px;
	margin-left: 70px;
	margin-bottom: -20px;
}
p[id="city"]{ /*�룄�떆 */
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
	color: #646464;
}
p[id="plan_date"]{ /*�뿬�뻾�궇吏�*/
	font-size: 15px;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 10px;
	color: #646464;
}
p[class="list_thema"]{ /*�꽑�깮�븳 �뀒留� 湲��옄*/
	color: #6C94B8;
	padding: 4px 12px;
	border: 1px solid #6C94B8;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.25);
	float: left;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-right: 12px;
}
div[id="plan_div"]{ /*�뿬�뻾�씪�젙 div*/
	width: 800px;
	margin: 0 auto;
}
p[class="plan_sub"]{ /*�뿬�뻾�씪�젙, 異붽��긽�뭹 湲��옄 �룿�듃*/
	font-size: 20px;
	margin-left: 25px;
	font-weight: bold;
	color: #646464;
}
p[class="product_sub"]{ /* 異붽��긽�뭹 湲��옄 �룿�듃*/
	font-size: 20px;
	margin-left: 25px;
	font-weight: bold;
	color: #646464;
	float :left;
	margin-bottom: 25px;
	margin-top: 30px;
}

div[class="plan_day"]{ /*�뿬�뻾�씪�젙 box �뀒�몢由� */
	width: 750px;
	height: 80px;
	background-color: white;
	margin: 15px auto;
}
div[class="plan_date"]{ /*�씪李⑥닔 div*/
	float: left;
	width: 200px;
	height: 70px;
	background: #6C94B8;
	border: 1px solid #6C94B8;
	color: white;
	text-align: center;
	align-items: center;
}
p[class="day"]{ /*n�씪李� 湲��옄 */
	margin: 0;
	padding: 11px 20px;
	padding-bottom: 0px;
	font-size: 15px;	
	font-weight: bold;
}
p[class="date"]{ /* �궇吏�,�슂�씪 */
	margin: 0;
	padding: 12px 22px;
	padding-top: 5px;
	font-size: 13px;
}
div[class="place_name_div"]{
	width : 450px;
	height : 45px;
	float : left;
	margin : auto 15px;
	overflow : hidden;
}
p[class="place_name"]{ /*�뿬�뻾�씪�젙 諛뺤뒪 �븞 �뿬�뻾吏��씠由� 湲��옄*/
	font-size: 15px;
	color: #646464;
}
div[class="plan_detail"]{ /*�긽�꽭�젙蹂� div*/
	width: 540px;
	height: 70px;
	float: left;
	border: 1px solid #6C94B8;
	margin-left: 0;
	display: flex;
    align-items: center;
    overflow: hidden;
}

img[id*="close"]{
	float: left;
    margin-left: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
img[id*="open"]{
	float: left;
    margin-left: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
img[id*="close"]{
	display: none;
}

div[id*="detail_info"]{ /*�긽�꽭�젙蹂� �뿴�뿀�쓣�븣 div*/
	width: 750px;
	margin: 0 auto;
	display: none;
	overflow : auto;
}
div[id*="map"]{/*�긽�꽭�젙蹂� �븞�쓽 吏��룄 div*/
	float: left;
	width: 744px;
	height: 400px;
}
/* div[id*="map1"]{�긽�꽭�젙蹂� �븞�쓽 吏��룄 div
	float: left;
	width: 740px;
	height: 400px;
	margin-top : 0px;
} */
div[id*="place_info"]{/*�긽�꽭�젙蹂� �븞�쓽 �옣�냼 �젙蹂�*/
	float: right;
	width: 280px;
	height: 400px;
	background-color: white;
	margin-top : 15px;
}
div[id="place_info1"]{/*�긽�꽭�젙蹂� �븞�쓽 �옣�냼 �젙蹂�*/
	float: right;
	width: 280px;
	height: 400px;
	background-color: white;
	margin-top : 0px;
}
div[class*="places_"]{ /*�옣�냼 由ъ뒪�듃 div*/
	height: 30px;
	margin: 10px 0;
}
p[class="places_name"]{ /*�옣�냼�씠由�*/
	margin : 50px 0;
	float: left;
	
}
div[class="pl_eat_div"]{ /*�뿬�뻾吏� �뱾�뼱媛늕iv*/
	width: 745px;
    float: left;
    border-top: 3px solid #646464;
    border-bottom: 1px solid #646464;
    margin : 10px auto;
}
.no{
	float: left;
    background: #0D112D;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
h4[class="place_thema"]{ /*�옣�냼 �뀒留�*/
	font-size: 8pt;
	border: 1.5px solid #0D112D;
	border-radius: 5px;
	float: left;
	padding: 7px 9px;
	margin-right: 10px;
	margin-top: 10px;
}
div[id*="plac_name"]{
	height : 30px;
	width : 700px;
}
.up_down_btn{
	width: 20px;
    height: 30px;
    float: right;
    margin-top : -30px;
}
.up{
	width : 17px;
	height : 15px;
	float : left;
	cursor : pointer;
}
.down{
	width : 17px;
	height : 15px;
	float : left;
	cursor : pointer;
}

div[id="product"]{ /*異붽��긽�뭹,異붿쿇�긽�뭹 �쟾泥� div*/
	width: 800px;
	margin: 0px auto;
}
div[class="product_add"]{/*異붽��긽�뭹, 異붿쿇�긽�뭹 媛곴컖 div*/
	width: 800px;
	margin: 0px auto;
}
table[id="product_table"]{/*異붽��긽�뭹 �뀒�씠釉�*/
	width: 750px;
	height: 30px;
	border: 1px solid #646464;
	margin: 15px auto;
	background-color: white;
}
td[id*="product"]{
	font-size : 15px;
}
td[id="product_sub_name"]{/*�뀒�씠釉� 留⑥쐞 �젙蹂� �뻾*/
	height: 27px;
	border-bottom: 1px solid #646464;
	margin-top : 15px;
	width : 420px;
	padding-left : 5px;
}
td[id="product_sub_sort"]{/*�뀒�씠釉� 留⑥쐞 �젙蹂� �뻾*/
	border-bottom: 1px solid #646464;
	margin-top : 15px;
	width : 160px;
	padding-left : 5px;
}
td[id="product_sub_price"]{/*�뀒�씠釉� 留⑥쐞 �젙蹂� �뻾*/
	border-bottom: 1px solid #646464;
	margin-top : 15px;
	width : 115px;
	padding-left : 5px;
}
td[id*="product_add"]{
		height : 25px;
		padding-left : 5px;
}
p[id*="product_add"]{
	font-size : 15px;
	margin-left : 5px;
	height : 25px;
}
td[class="item"]{
	height: 30px;
}
td[id="del"]{
	width: 40px;
	border-bottom: 1px solid #646464;
	text-align: center;
}
.product_add_sub{
	font-size: 20px;
	margin-left: 25px;
	font-weight: bold;
	color: #646464;
	margin-top : 40px;
}
div[id="item_div"]{
	width: 750px;
	height: 240px;
	border-top: 1px solid #646464;
	border-bottom: 1px solid #646464;
	margin : 25px auto;
	
}
div[class="product_adv"]{ /*異붿쿇�긽�뭹 div*/
	height: 230px;
	float :left;
		display : flex;
	justify-content : center;
}
div[id="slide_div"]{
	width: 650px;
	height: 230px;
	overflow : hidden;
	margin : 0 auto;
}

div[id*="product_item"]{ /*由ъ뒪�듃 �븞 �빆紐쯣iv */
	width: 145px;
	height: 175px;
	border: 1px solid #646464;
	border-radius : 5px;
	margin-top: 25px;
	margin-left: 15px;
	float: left;
}
img[class="tick_prod"]{ /*�떚耳� �씠誘몄�*/
	width: 145px;
    height: 85px;
    border-radius : 5px 5px 0 0;
	border-bottom: 1px solid #646464;
}
table[id*="product_tb"]{ /* 異붿쿇�긽�뭹 �젙蹂� �뀒�씠釉� */
	margin-left: 10px;
	width: 125px;
}
td[id*="product_name"]{ /* 異붿쿇�긽�뭹 td */
	height : 45px;
	border-bottom: 1.5px solid #0D112D;
	font-size : 15px;
	text-overflow : ellipsis;
	overflow : hidden;
	vertical-align : top;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    width : 125px;
}
td[id*="product_price"]{ /* 異붿쿇�긽�뭹 td */
	width: 125px;
	vertical-align : top;
}

input[name="save_plan"]{ /*���옣 踰꾪듉*/
	width: 240px;
	height: 45px;
	float: left;
	font-size: 15px;
	font-family: "Noto Sans KR", sans-serif;
	margin-top: 70px;
	margin-left: 330px;
	cursor: pointer;
    background: #2a799c;
    color: white;
    border : none;
}
input[name="edit_plan"]{ /*���옣 踰꾪듉*/
	width: 240px;
	height: 45px;
	float: left;
	font-size: 15px;
	font-family: "Noto Sans KR", sans-serif;
	margin-top: 70px;
	margin-left: 330px;
	cursor: pointer;
    background: #2a799c;
    color: white;
    border : none;
}
img[src*="minus"]{ /*異붽��긽�뭹 異붽�踰꾪듉*/
	cursor: pointer;
	margin-left: 9px;
    vertical-align: middle;
}
img[src*="plus"]{ /*異붽��긽�뭹 �궘�젣踰꾪듉*/
	float:right;
	cursor: pointer;
	margin-top : 2px;
}
#save_btn_div{
	width: 700px;
	height : 180px;
}
img[src*="arrows"]{
	width : 20px;
	height : 30px;
	margin : 0;
	margin-top : -132px;
}
img[src*="left"]{
	float : left;
}
img[src*="right"]{
	float : right;
}


footer{
	margin-top: 100px;
}


/*�솕硫� �뒳�씪�씠�뱶 */
#plan_li{
  list-style: none;
	float:left;
	margin : 0;
	width : 650px;

}
#slide_div{
  width:100%; 
  max-width: 650px;
  height: 230px;
  margin:0 auto; 
  position: relative;
  padding: 0;
}
#slide_div > .kind_slider {
	display : flex;
	justify-content : center;
}
#slide_div > .kind_slider .slider { 
  position: relative; 
  transition: 0.5s;
   margin: 0;
  padding: 0;
}
.kind_wrap > .kind_slider{
  float:left;
}
#plan_li{
	flaot:left
}
.kind_wrap > .kind_slider img {
  vertical-align: top;
}
.kind_wrap .arrow > a.prev {
  position: absolute; 
  left:-50px; 
  top:100px;
}
.kind_wrap .arrow > a.next {
  position: absolute; 
  right:-50px; 
  top:100px;
}
label{
	cursor: pointer;
}
img[src*="left"], img[src*="right"]{
	cursor: pointer;
}


/*가계부  */
div[id*="pay_one_div"]{ /*비용추가 누르면 내려오는 div*/
	margin-top: 80px;
    display: none;
    margin-bottom: 40px;
    border-top : 1px solid #CCCCCC ; 
    border-bottom : 1px solid #CCCCCC ; 
    padding-top : 20px;
    padding-bottom : 20px;    
}
input[name*="content"]{/*지출내용*/
	width : 150px;
}
div[id*="acc_div"]{/* 가계부 day 마다의 div*/
	margin: 0 70px;
    min-height: 100px;
    margin-bottom: 30px;
    padding-top: 35px;
}
.acc_sub{ /*여행준비, day 글자*/
	padding-bottom: 5px;
	font-size : 17px;
	font-weight: bold;
	border-bottom: 1px solid #6C94B8;
}
input[name*="sort"]{/*카테고리 테이블*/
	width : 110px;
	border: 0px;
	outline:none;	
}
input[name*="content"]{ /*내용 테이블*/
	width : 350px;
	border: 0px;
	outline:none;
}
input[name*="price"]{/*가격테이블*/
	width: 120px;
	border: 0px;	
	outline:none;
}
input[name*="pay_with"]{/*결제수단테이블*/
	width: 80px;
	border: 0px;
	outline:none;	
}
input[name*="add_acc"]{ /*비용추가 버튼*/
	font-size: 12px;
	float: right;
	margin-top: 4px;
	height : 25px;
	width : 75px;
	border: 1px solid #6C94B8;
}
div[class="price_div"]{ /*금액, 결제수단, 내용 쓰는 div*/
	width: 210px;
	height: 20px;
	border: 1px solid #6C94B8;
	padding: 10px;
	float: left;
}
input[name*="acc_price"]{ /* 결제금액 쓰는 text*/
	width: 120px;
	height: 20px;
	outline:none;
	float: left;	
}
select[name*="price_sort"]{ /*화폐 select*/
	width: 75px;
	font-family: "Noto Sans KR", sans-serif;
	outline:none;
	border: none;
	font-size: 12px;
	margin-top: 2px;
  float: right;
}
select[name*="pay_with"]{ /*결제수단 select*/
	width: 65px;
	font-family: "Noto Sans KR", sans-serif;
	border: none;
	border-bottom: 1px solid #6C94B8;
	outline:none;
}
.pay_with_div{ /*결제수단 div*/
	float: left;
	margin-left: 10px;
}
.pay_with_text{ /*결제수단 글자*/
	font-size: 12px;
	margin-bottom: -1px;
}
input[name*="acc_content"]{ /* 결제 내용 쓰는 text*/
	width : 418px;
	height: 30px;
	font-size: 15px;
	padding-top: 10px;
	margin-left: 22px;
	border: none;
	border-bottom: 1px solid #6C94B8;
	outline:none;
}
.sort_text{ /*카테고리 글자*/
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
}
input[type="checkbox"]{ /*카테고리 버튼*/
	display: none;
}
img[name*="acc"]{ /*카테고리 버튼 이미지*/
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border : 2px solid white;
	margin : -2px;
}
label{ /*카테고리 버튼 라벨*/
	margin-right: 20px;
}
.ctg_t{ /*각 카테고리 글자*/
	font-size : 12px;
	margin-left: 7px;
    margin-top: -6px;
    word-spacing: 38.5px;
}
input[name*="add_acc_one"]{ /*추가하기 버튼*/
	font-size: 12px;
	float: right;
	margin-top: -15px;
	height : 25px;
	width : 75px;
	margin-right : 5px;
}
input[name*="close_acc"]{ /*닫기 버튼*/
	font-size: 12px;
	float: right;
	margin-top: -15px;
	height : 25px;
	width : 75px;	
	border: 1px solid #6C94B8;
}
input[name*="del_place"]{
	font-size : 12px;
	border : none;
}
input[name*="emot"]{
	width : 12px;
	border: none;
	outline:none;
}
input[name="save_acc"]{/*가계부 저장버튼*/
	width: 240px;
	height: 45px;
	float: left;
	font-size: 15px;
	font-family: "Noto Sans KR", sans-serif;
	margin-top: 70px;
	margin-left: 330px;
	cursor: pointer;
    background: #2a799c;
    color: white;
    border : none;
    margin-bottom: 50px;
}
#acc_result_div{
    width: 755px;
    height: 45px;
    border : 1px solid #6C94B8;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    padding-top: 20px;
}
#result_price_text{
	font-size: 20px;
}
#chart_div{
	margin : 15px auto;
}
footer {
	margin-top: 0px;
}