body {
	font-family: "Noto Sans KR", sans-serif;
	margin: 0;
	color: rgb(64,64,64);
	background : url("https://logincdn.msauth.net/shared/5/images/2_bc3d32a696895f78c19d.svg");
	background-size: cover;
}

div[id="main_full_div"]{ /*섹션 전체 div*/
	width: 100%;
	height: 850px;
	margin: 0px auto;
	padding-top: 100px;
	overflow: hidden;
}
input[class*="next"]{ /*슬라이드의 다음,테마선택 버튼 */
	background: #6C94B8;
    color: white;
    font-size: 12pt;
    width: 400px;
    height: 50px;
    margin-top: 15px;
    margin-left: 30px;
    border: none;
    cursor: pointer;
}
input[id*="save"]{ /* 슬라이드의 저장 버튼 */
	color: white;
	font-size: 12pt;
	width: 405px;
	height: 50px;
	margin-top: 32px;
	margin-left: 30px;
	border: none;
	background: #6C94B8;
	cursor: pointer;
}
a[id*="right"]{ /* 오른쪽 화살표 버튼 */
	float: right;
    position: absolute;
    z-index: 2;
    margin-left: 630px;
    margin-top: 270px;
}
a[id*="left"]{ /*왼쪽 화살표 버튼 */
	float: left;
    position: absolute;
    z-index: 50;
    margin-top: 270px;
    margin-left: 60px;
}
div[id="slide_div"]{ /*(화살표, 가운데 화면 포함하는)슬라이드 전체 div  */
	width: 800px;
	height: 660px;
	float: left;
	margin-left: 215px;
	margin-top: 80px;
}
div[id="content"]{ /* 정보 넣는 슬라이드 화면에서 보여지는 div */
	width: 550px;
    height: 680px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin-left: 100px;
}
div[class="main_div"]{ /* 첫번째, 두번째, 세번째 화면의 div */
	width: 540px;
	height: 648px;
	margin: 0px 10px 30px 0px;
	border-radius: 20px;
	border: 0px solid #0D112D;
}
div[class="main_con"]{ /* 첫번째, 두번째, 세번째 화면의 내부 내용 div */
	width: 460px;
	height: 560px;
	margin: 0 auto;
	padding-top: 40px;
}
.main_text{ /*각 화면에서 흰색 가장 큰 글자들 */
	margin-left:30px;
	font-size: 25px;
	float: left;
	margin-top: 0;
	margin-block-start: 10px;
}
div[id="img_div"]{ /*이미지 슬라이드의 div */
	width: 630px;
	height: 630px; 
	float: right;
	margin-top: 110px;
	margin-right: 240px;
	overflow: hidden;
	background-color : violet;
	
}

/*첫번째 화면*/
input[name*=_text]{
	width: 400px;
    height: 50px;
    font-size: 11pt;
    margin-bottom: 15px;
    margin-left: 30px;
    background-color: white;
    color: #646464;
    border: 1px solid #CCCCCC;
    padding-left: 10px;	
}
#departure_text_div{ /*출발지 버튼누르면 나오는 div*/
	width: 398px;
    height: 280px;
    border: 1px solid #CCCCCC;
    background-color: white;
    position: absolute;
    z-index: 100;
    display: none;
    margin-top: -6px;
    margin-left: 30px;
    box-shadow: 4px 6px 20px 3px #CCCCCC;
}
#departure_sel{
	width: 320px;
    margin-left: 2px;
    border-bottom: 2px solid #0D112D;
    padding-bottom: 10px;
}
#departure_div_in{
	width : 380px;
	height : 200px;
	margin : 20px 40px;
}
#departure_table{
	margin-top : 25px;
}
.departure_one{
	float: left;
    width: 155px;
    height: 20px;
    margin: 0px;
    border: 1px solid #6C94B8;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
    cursor: pointer;
    margin-bottom: 5px;
    color: #0D112D;
    font-size: 13px;
}

.departure_one:nth-of-type(2n){
	margin-left : 5px;
}

#nation_text_div{ /*국가선택 버튼누르면 나오는 div*/
	width: 398px;
	height : 430px;
	border: 1px solid #CCCCCC;
    background-color: white;
    position: absolute;
    z-index: 100;
    display: none;
    margin-top: -6px;
    margin-left: 30px;
    box-shadow: 4px 6px 20px 3px #CCCCCC
}
#nation_sel{
	width: 320px;
    margin-left: 2px;
    border-bottom: 2px solid #0D112D;
    padding-bottom: 10px;
}
#nation_div_in{
	width : 380px;
	height : 200px;
	margin : 20px 40px;
}

#continent_table{
	margin :0;
	float:left;
}

.continent_one{
	float: left;
    width: 130px;
    height: 9px;
    argin: 0px;
    border: 1px solid #6c94b8;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 18px;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 5px;
    color: #0D112D;
}
table[id*="nation_table"]{
	margin: 0;	
    float: left;
    display: none;
    border: 1px solid #6C94B8;
    height: 285px;
    padding: 0 0px;
    margin-left: 9px;
}
#nation_table_empty{
	display : block;
}
.nation_one{
    float: left;
    width: 85px;
    height: 13px;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 13px;
}
#nation_one_plz{
	float: left;
    width: 172px;
    height: 13px;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    font-size: 13px;
}
#city_text_div{ /*출발지 버튼누르면 나오는 div*/
	width : 398px;
	height : 330px;
	border: 1px solid #CCCCCC;
    background-color: white;
    position: absolute;
    z-index: 100;
    display: none;
    margin-top: -6px;
    margin-left: 30px;
    box-shadow: 4px 6px 20px 3px #CCCCCC
}
#city_sel{
	width : 320px;
	margin-left :2px;
	border-bottom: 2px solid #0D112D;
	padding-bottom : 8px;
}
#city_div_in{
	width : 380px;
	height : 200px;
	margin : 20px 40px;
}
table[id*="city_table"]{
	margin:0;
	float:left;
	display : none;
}
.city_one{
	float : left;
	width : 100px;
	height : 13px;
	margin: 0px;
	text-align : center;
	padding-top : 13px;
	padding-bottom : 17px;
	cursor : pointer;
	font-size : 13px;
}
div[id="cal_div"]{ /* 날짜선택창이 들어갈 div */
	width: 400px;
	height: 120px;
	margin-left: 30px;
	margin-bottom: 40px;
}
input[name*="Dt"]{ /*날짜 선택 */
	width: 400px;
    height: 50px;
    font-size: 11pt;
    margin-bottom: 13px;
    background-color: white;
    color: #646464;
    border: 1px solid #CCCCCC;
    padding-left: 10px;	
}
img[src*="cal"]{
	margin-top: 3px;
}
/*항공권, 숙박 유무 */
#air, #ho{
	display: none;
}
label[id="airplane"]{ /*항공권 유무 */
 	padding: 14px 34px;
    margin-right: 25px;
    background-color: #f1f1f3;
    font-size: 10pt;
    margin-left: 30px;
    color: #646464;
    cursor: pointer;
    border: 1px solid #CCCCCC;
}
label[id="hotel"]{ /*숙소 유무 */
	padding: 14px 34px;
    margin-right: 25px;
    background-color: #f1f1f3;
    font-size: 10pt;
    color: #646464;
    cursor: pointer;
    border: 1px solid #CCCCCC;
}
 /*비행기,집 이미지 */

#air_check{
	width: 26px;
	height: 30px;
	padding: 0;
	margin-top: -5px;
}
#hotel_check{
	width : 30px;
	height:27px;
	padding: 0;
	margin-top: -5px;
}

/*2번째 선택화면 */

div[id="thema_div"]{ /*큰 테마가 들어갈 div */
	width: 420px;
	height: 159px;
	margin-top: 22px;
	margin-left: 30px;
}
input[name="thema"], input[name="with"]{
	display: none;
}

.title_icon > img{
	width: 45px;
	height: 45px;
	object-fit: cover;
	float: left;
	margin-left: 25px;
	margin-right: -15px;
}

.title_icon > hr{
	width: 420px;
	border: 0.5px solid #646464;
}

.thema_check{ /* 큰 테마 라디오버튼의 속성 */
	float: left;
	padding: 12px 15px;
	border-radius: 25px;
	font-weight: bold;
	font-size: 9pt;
	margin-right: 15px;
	margin-bottom: 15px;
	color: #0D112D;
	border: 1px solid #0D112D;
	width: 88px;
	text-align: center;
}
input[type=radio]:checked + label { /* 큰테마와 인원유형 라디오버튼 눌렀을때 */
	background-color: #0D112D;
	color: white;
}
div[id="with_div"]{ /*인원유형이 들어갈 div */
	width: 410px;
	height: 140px;
	margin: 22px 30px;
}
.with_check{ /*인원유형 라디오버튼의 속성 */
	float: left;
	padding: 12px 15px;
	border-radius: 25px;
	font-weight: bold;
	font-size: 9pt;
	margin-right: 15px;
	margin-bottom: 15px;
	color: #0D112D;
	border: 1px solid #0D112D;
	width: 88px;
	text-align: center;
}

/*3번째 선택화면*/

div[id="place_div"]{ /*여행지가 들어갈 div*/
	width: 425px;
	height: 180px;
	margin-top: 17px;
	margin-bottom: 20px;
	margin-left: 30px;
}
input[name="place"], input[name="eat"]{
	display: none;
}
.place_check{ /*여행지 체크박스의 속성 */
	float: left;
	padding: 7px 23px;
	border-radius: 25px;
	font-weight: bold;
	font-size: 9pt;
	text-align: center;
	margin-right: 13px;
	width: 80px;
	margin-bottom: 10px;
	color: #0D112D;
	border: 1px solid #0D112D;
}
div[id="eat_div"]{ /*음식취향이 들어갈 div*/
	width: 430px;
	height: 140px;
	margin-top: 17px;
	margin-left: 30px;
	margin-bottom: 10px;
}
.eat_check{ /*음식취향 체크박스의 속성 */
	float: left;
	padding: 7px 30px;
	width: 65px;
	border-radius: 25px;
	font-weight: bold;
	font-size: 9pt;
	margin-right: 15px;
	margin-bottom: 10px;
	color: #0D112D;
	border: 1px solid #0D112D;
	text-align: center;
}


/*화면 슬라이드 */
li {
  list-style: none;

}
.kind_wrap {
  width:100%; 
  max-width:600px;
  height: 660; 
  margin:0 auto; 
  position: relative;
  padding: 0;
}
.kind_wrap > .kind_slider {
  overflow: hidden;

}
.kind_wrap > .kind_slider .slider { 
  position: relative; 
  transition: 0.5s;
   margin: 0;
  padding: 0;
}
.kind_wrap > .kind_slider .slider li {
  float:left;
}
.kind_wrap > .kind_slider img {
  vertical-align: top;
}
.kind_wrap .arrow > a.prev {
  position: absolute; 
  left:-50px; 
  top:100px;
}
.kind_wrap .arrow > a.next {
  position: absolute; 
  right:-50px; 
  top:100px;
}
label{
	cursor: pointer;
}
img[src*="left"], img[src*="right"]{
	cursor: pointer;
}

footer {
	margin-top: 100px;
}